@import url('https://fonts.googleapis.com');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@font-face {
  /* Choose a name for your font (e.g., MyCustomFont) */
  font-family: 'OpenDyslexic';
  /* Specify the path to your font file relative to the CSS file */
  src: url('Fonts/OpenDyslexic-Regular.otf') format('otf'),
}
:root {

/* Sizing */
--Container-Padding: 24px;
--Sizing-1: 8px;
--Sizing-2: 16px;
--Sizing-3: 24px;
--Sizing-4: 32px;
--Sizing-5: 40px;
--Sizing-6: 48px;
--Sizing-7: 56px;
--Sizing-8: 64px;
--Sizing-9: 72px;
--Sizing-10: 80px;
--Sizing-11: 88px;
--Sizing-12: 96px;
--Sizing-13: 104px;
--Sizing-14: 112px;
--Sizing-20: 160px;
--Sizing-30: 240px;
--Sizing-40: 320px;
--Sizing-60: 480px;
--Sizing-Half: 4px;
--Sizing-Quarter: 2px;
--Sizing-1-and-Half: 12px;
--Sizing-Negative-1: -8px;
--Sizing-Negative-Half: -4px;
--Sizing-Negative-Quarter: -2px;
--Sizing-Negative-1-and-Half: -12px;


/* Default Mode */
--Light-Mode: 'Light-Mode-Tonal';

/* Platform */
--Platform-Family-Body: var(--Set-Family-Body);
--Platform-Family-Header: var(--Set-Family-Header);
--Platform-Family-Decorative: var(--Set-Family-Decorative);
--Cognitive-Multiplier: 1;
--Min-Letter-Spacing: 1;
--Body-Small-Font-Size: 14px;
--Body-Small-Letter-Spacing: 0;
--Body-Small-Small-Semibold-Font-Family: var(--Set-Family-Body);
--Body-Small-Small-Semibold-Font-Size: 14px;
--Body-Small-Small-Semibold-Letter-Spacing: 0;
--Body-Font-Size: var(--Platform-Body-Size);
--Body-Letter-Spacing: var(--Platform-Body-Letter-Spacing);;
--Body-Semibold-Font-Size: var(--Platform-Body-Size);
--Body-Semibold-Letter-Spacing: var(--Platform-Body-Letter-Spacing);
--Body-Bold-Font-Size: var(--Platform-Body-Size);
--Body-Bold-Letter-Spacing: var(--Platform-Body-Letter-Spacing);
--Body-Large-Font-Size: 18px;
--Body-Large-Letter-Spacing: 0;
--Body-Semibold-Font-Size: 18px;
--Body-Semibold-Letter-Spacing: 0;
--Display-Small-Font-Size: 42px;
--Display-Small-Letter-Spacing: 0px;
--Display-Large-Font-Size: 48px;
--Display-Small-Font-Family: var(--Set-Family-Header);
--Display-Small-Font-Weight: var(--Set-Header-Font-Weight);
--Display-Small-Paragraph-Spacing: 0px;
--Display-Large-Font-Family: var(--Set-Family-Header);
--Display-Large-Font-Weight: var(--Set-Header-Font-Weight);
--Display-Large-Letter-Spacing: 0;
--Display-Large-Line-Height: 48px;
--Display-Large-Paragraph-Spacing: 0;
--H1-Font-Family: var(--Set-Family-Header);
--H1-Line-Height: 0;
--H1-Letter-Spacing: 0;;
--H1-Paragraph-Spacing: 0;
--H1-Character-Spacing: 0;
--H1-Font-Weight: var(--Set-Header-Font-Weight);
--H2-Font-Family: var(--Set-Family-Header);
--H2-Font-Weight: var(--Set-Header-Font-Weight);
--H2-Line-Height: 0;
--H2-Letter-Spacing: 0;
--H2-Paragraph-Spacing: 0;
--H2-Character-Spacing: 0;
--H3-Font-Family: var(--Set-Family-Header);
--H3-Font-Weight: var(--Set-Header-Font-Weight);
--H3-Line-Height: 0;
--H3-Letter-Spacing: 0;;
--H3-Paragraph-Spacing: 0;
--H3-Character-Spacing: 0;
--H4-Font-Family: var(--Set-Family-Header);
--H4-Font-Weight: var(--Set-Header-Font-Weight);
--H4-Line-Height: 0;
--H4-Letter-Spacing: 0;;
--H4-Paragraph-Spacing: 0;
--H4-Character-Spacing: 0;
--H5-Font-Family: var(--Set-Family-Header);
--H5-Font-Weight: var(--Set-Header-Font-Weight);
--H5-Line-Height: 0;
--H5-Letter-Spacing: 0;;
--H5-Paragraph-Spacing: 0;
--H5-Character-Spacing: 0;
--H6-Font-Family: var(--Set-Family-Header);
--H6-Line-Height: 0;
--H6-Letter-Spacing: 0;
--H6-Paragraph-Spacing: 0;
--H6-Character-Spacing: 0;
--H6-Font-Weight: var(--Set-Header-Font-Weight);
--Subtitles-Small-Font-Size: 16px;
--Subtitles-Small-Font-Weight: var(--Set-Body-Bold-Font-Weight);
--Subtitles-Small-Letter-Spacing: 0;
--Subtitles-Large-Font-Size: 18px;
--Subtitles-Large-Font-Weight: var(--Set-Body-Bold-Font-Weight);
--Subtitles-Large-Letter-Spacing: 0;
--Captions-Font-Size: 14px;
--Captions-Font-Weight: var(--Set-Body-Semibold-Font-Weight);
--Captions-Letter-Spacing: 0;
--Captions-Bold-Font-Size: 14px;
--Captions-Bold-Font-Weight: var(--Set-Body-Bold-Font-Weight);
--Captions-Bold-Letter-Spacing: 0;
--Labels-Font-Weight: var(--Set-Body-Semibold-Font-Weight);
--Labels-Extra-Small-Font-Size: 11px;
--Labels-Extra-Small-Font-Weight: var(--Set-Body-Semibold-Font-Weight);
--Labels-Extra-Small-Letter-Spacing: 0;
--Labels-Small-Font-Size: 12.5px;
--Labels-Small-Font-Weight: var(--Set-Body-Semibold-Font-Weight);
--Labels-Small-Letter-Spacing: 0;
--Labels-Large-Font-Size: 18px;
--Labels-Large-Font-Weight: var(--Set-Body-Semibold-Font-Weight);
--Labels-Large-Letter-Spacing: 0;
--Legals-Standard-Font-Size: 10px;
--Legal-Standard-Font-Weight: var(--Set-Body-Font-Weight);
--Legal-Standard-Letter-Spacing: 0;
--Legal-Semibold-Font-Size: 10px;
--Legal-Semibold-Font-Weight: var(--Set-Body-Semibold-Font-Weight);
--Legal-Semibold-Letter-Spacing: 0;
--Overline-Small-Font-Size: 14px;
--Overline-Small-Font-Weight: var(--Set-Body-Font-Weight);
--Overline-Small-Letter-Spacing: 0;
--Overline-Medium-Font-Size: 16px;
--Overline-Medium-Font-Weight: var(--Set-Body-Semibold-Font-Weight);
--Overline-Medium-Letter-Spacing: 0;
--Overline-Large-Font-Size: 18px;
--Overline-Large-Font-Weight: var(--Set-Body-Semibold-Font-Weight);
--Overline-Large-Letter-Spacing: 0;
--Number-Small-Font-Size: 16px;
--Number-Small-Font-Weight: var(--Set-Body-Bold-Font-Weight);
--Number-Small-Letter-Spacing: 0;
--Number-Small-Paragraph-Spacing: 0;
--Number-Medium-Font-Size: 28px;
--Number-Medium-Font-Weight: var(--Set-Body-Bold-Font-Weight);
--Number-Medium-Letter-Spacing: 0;
--Number-Medium-Paragraph-Spacing: 0;
--Number-Large-Font-Size: 36px;
--Number-Large-Font-Weight: var(--Set-Body-Bold-Font-Weight);
--Number-Large-Letter-Spacing: 0;
--Number-Large-Paragraph-Spacing: 0;
--Button-Extra-Small-Font-Size: 11px;
--Button-Extra-Small-Letter-Spacing: 0;
--Button-Extra-Small-Line-Height: var(--Buttons-Small-Font-Size);
--Button-Extra-Small-Font-Weight: var(--Set-Body-Semiold-Font-Weight);
--Button-Small-Font-Size: 14px;
--Button-Small-Font-Weight: var(--Set-Body-Semiold-Font-Weight);
--Button-Small-Letter-Spacing: 0;
--Button-Small-Paragraph-Spacing: 0;
--Button-Letter-Spacing: 0;
--Button-Paragraph-Spacing: 0;
--Button-Font-Weight: 600;
}

[data-platform="IOS-Mobile"][data-fonts] {
  --Platform-Family-Body: var(--Set-Family-Body);
  --Platform-Family-Header: var(--Set-Family-Header);
  --Platform-Family-Decorative: var(--Set-Family-Decorative);
}
[data-platform="IOS-Tablet"][data-fonts] {
  --Platform-Family-Body: var(--Set-Family-Body);
  --Platform-Family-Header: var(--Set-Family-Header);
  --Platform-Family-Decorative: var(--Set-Family-Decorative);
}
[data-platform="Android"][data-fonts] {
  --Platform-Family-Body: var(--Set-Family-Body);
  --Platform-Family-Header: var(--Set-Family-Header);
  --Platform-Family-Decorative: var(--Set-Family-Decorative);
}

[data-platform="IOS-Mobile"][data-fonts="Default"] {
  --Platform-Family-Body: "SF Pro";
  --Platform-Family-Header: "SF Pro";
  --Platform-Family-Decorative: "SF Pro";
}
[data-platform="IOS-Tablet"][data-fonts="Default"] {
  --Platform-Family-Body: "SF Pro";
  --Platform-Family-Header: "SF Pro";
  --Platform-Family-Decorative: "SF Pro";
}
[data-platform="Android"][data-fonts="Default"] {
  --Platform-Font-Family-Body: "Roboto";
  --Platform-Font-Family-Header: "Roboto";
  --Platform-Font-Family-Decorative: "Roboto";
}

:root {
--Container-Padding: var(--Sizing-4);
--Platform-Label: "Desktop";
--Button-Height: 32px;
--Min-Button-Width: 80px;
--Body-Font-Size: 16px;
--Body-Letter-Spacing: 0;
--Body-Line-Height: 24px;
--Body-Paragraph-Spacing: 16px;
--H1-Font-Size: 40px;
--H1-Line-Height: 40px;
--H1-Letter-Spacing: -1px;
--H1-Paragraph-Spacing: 32px;
--H2-Font-Size: 32px;
--H2-Line-Height: 40px;
--H2-Letter-Spacing: -1px;
--H2-Paragraph-Spacing: 24px;
--H3-Font-Size: 28px;
--H3-Line-Height: 36px;
--H3-Letter-Spacing: -.5px;
--H3-Paragraph-Spacing: 20px;
--H4-Font-Size: 24px;
--H4-Line-Height: 32px;
--H4-Letter-Spacing: -.5px;
--H4-Paragraph-Spacing: 16px;
--H5-Font-Size: 20px;
--H5-Line-Height: 28px;
--H5-Letter-Spacing: 0px;
--H5-Paragraph-Spacing: 12px;
--H6-Font-Size: 18px;
--H6-Line-Height: 26px;
--H6-Letter-Spacing: 0px;
--H6-Paragraph-Spacing: 12px;
--Label-Font-Size: 14px;
--Label-Line-Height: 20px;
--Label-Letter-Spacing: 0px;
--Label-Paragraph-Spacing: 4px;
--Button-Font-Size: 16px;
--Button-Line-Height: 20px;
}

[data-platform="IOS-Mobile"] {
--Container-Padding: var(--Sizing-2);
--Platform-Label: "IOS-Mobile";
--Button-Height: 44px;
--Platform-Body-Font-Size: 16px;
--Platform-Body-Letter-Spacing: -.5px;
--Platform-Body-Line-Height: 24px;
--Platform-Body-Paragraph-Spacing: 16px;
--H1-Font-Size: 32px;
--H1-Line-Height: 40px;
--H1-Letter-Spacing: -1px;
--H1-Paragraph-Spacing: 24px;
--H2-Font-Size: 28px;
--H2-Line-Height: 32px;
--H2-Letter-Spacing: -.5px;
--H2-Paragraph-Spacing: 20px;
--H3-Font-Size: 24px;
--H3-Line-Height: 32px;
--H3-Letter-Spacing: -.5px;
--H3-Paragraph-Spacing: 16px;
--H4-Font-Size: 20px;
--H4-Line-Height: 28px;
--H4-Letter-Spacing: 0px;
--H4-Paragraph-Spacing: 12px;
--H5-Font-Size: 18px;
--H5-Line-Height: 26px;
--Letter-Spacing: 0px;
--H5-Paragraph-Spacing: 12px;
--H6-Font-Size: 16px;
--H6-Line-Height: 24px;
--Letter-Spacing: .5px;
--H6-Paragraph-Spacing: 8px;
--Label-Font-Size: 13px;
--Label-Line-Height: 18px;
--Spacing: 0px;
--Label-Paragraph-Spacing: 4px;
--Button-Font-Size: 16px;
--Button-Line-Height: 20px;
}

[data-platform="IOS-Tablet"] {
--Container-Padding: var(--Sizing-3);
--Platform-Label: "IOS-Tablet";
--Button-Height: 48px;
--Body-Font-Size: 17px;
--Body-Letter-Spacing: -.5px;
--Body-Line-Height: 25.5px;
--Body-Paragraph-Spacing: 16px;
--H1-Font-Size: 40px;
--H1-Line-Height: 48px;
--H1-Letter-Spacing: -1.5px;
--H1-Paragraph-Spacing: 32px;
--H2-Font-Size: 32px;
--H2-Line-Height: 40px;
--H2-Letter-Spacing: -1px;
--H2-Paragraph-Spacing: 24px;
--H3-Font-Size: 28px;
--H3-Line-Height: 36px;
--H3-Letter-Spacing: -.5px;
--H3-Paragraph-Spacing: 20px;
--H4-Font-Size: 24px;
--H4-Line-Height: 32px;
--H4-Letter-Spacing: -.5px;
--H4-Paragraph-Spacing: 16px;
--H5-Font-Size: 20px;
--H5-Line-Height: 28px;
--H5-Letter-Spacing: 0px;
--H5-Paragraph-Spacing: 12px;
--H6-Font-Size: 18px;
--H6-Line-Height: 26px;
--H6-Letter-Spacing: 0px;
--H6-Paragraph-Spacing: 12px;
--Label-Font-Size: 14px;
--Label-Line-Height: 20px;
--Label-Letter-Spacing: 0px;
--Label-Paragraph-Spacing: 4px;
--Button-Font-Size: 17px;
--Button-Line-Height: 21px;
}
[data-platform="Android"] {
--Container-Padding: var(--Sizing-2);
--Label: "Android";
--Button-Height: 48px;
--Body-Font-Size: 16px;
--Body-Line-Height: 24px;
--Body-Letter-Spacing: .5px;
--Body-Paragraph-Spacing: 16px;
--H1-Font-Size: 36px;
--H1-Line-Height: 40px;
--H1-Letter-Spacing: -.5px;
--H1-Paragraph-Spacing: 20px;
--H2-Font-Size: 28px;
--H2-Platform-Line-Height: 36px;
--H2-Letter-Spacing: -.5px;
--H2-Paragraph-Spacing: 20px;
--H3-Font-Size: 24px;
--H3-Platform-Line-Height: 32px;
--H3-Letter-Spacing: 0px;
--H3-Paragraph-Spacing: 16px;
--H4-Font-Size: 20px;
--H4-Line-Height: 28px;
--H4-Letter-Spacing: 0px;
--H4-Paragraph-Spacing: 12px;
--H5-Font-Size: 18px;
--H5-Line-Height: 26px;
--H5-Letter-Spacing: 0px;
--H5-Paragraph-Spacing: 12px;
--H6-Font-Size: 16px;
--H6-Line-Height: 24px;
--Letter-Spacing: .5px;
--H6-Paragraph-Spacing: 8px;
--Label-Font-Size: 13px;
--Label-Line-Height: 18px;
--Letter-Spacing: 0px;
--Label-Paragraph-Spacing: 4px;
--Button-Font-Size: 16px;
--Button-Line-Height: 20px;
}



[data-cognitive="Dyslexia"] {
  --Cognitive-Multiplier: 1.5;
  --Font-Family-Body: "OpenDyslexic";
  --Font-Family-Header: var(--Platform-Family-Header);
  --Font-Family-Decorative: var(--Platform-Family-Decorative);
  --Body-Font-Weight:  400;
  --Body-Semibold-Font-Weight:  700;
  --Body-Bold-Font-Weight:  700;
}


[data-cognitive="ADHD"] {
  --Cognitive-Multiplier: 1.5;
  --Font-Family-Body: "Open Sans";
  --Font-Family-Header: var(--Platform-Font-Header);
  --Font-Family-Decorative: var(--Platform-Font-Decorative);
}
